block var
doctype html
html(lang='zh-Hant-TW')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width initial-scale=1 shrink-to-fit=no')
		//- meta(name='viewport' content='width=device-width initial-scale=1 shrink-to-fit=no maximum-scale=1 user-scalable=no')
		meta(name="format-detection" content="telephone=no")
		meta(name='description' content='網頁描述')
		meta(name='keywords' content='網頁關鍵字')
		meta(name='author' content='Bohan Huang')
		link(href=url+'img/ico.ico' rel='shortcut icon')
		block title
		link(href=url+'plugins/bootstrap-4.2.1/css/bootstrap.min.css' rel='stylesheet')
		link(href=url+'css/bootstrap-grid-24-min.css' rel='stylesheet')
		link(href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet')
		link(href=url+'plugins/animate.css/animate.min.css' rel='stylesheet')
		//- link(rel='stylesheet' href=url+'plugins/chart-2.8.0/Chart.min.css')
		//- link(rel='stylesheet' href=url+'plugins/hover-css/hover-min.css')
		//- link(rel='stylesheet' href=url+'plugins/sweetalert2/sweetalert2.min.css')
		block css
		link(href=url+'css/layout.css?v=1' rel='stylesheet')
		| <!--[if lt IE 9]>
		|   <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		|   <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		| <![endif]-->

	body

		header.text-center
			a(href=url+"event.html")
				//img(src=url+"img/logo.png", alt="logo")

		main
			block content

		footer

		//-script
		script(src=url+'js/jquery-3.3.1.min.js')
		//-script(src='https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js')
		script(src=url+'plugins/bootstrap-4.2.1/js/bootstrap.bundle.min.js')
		//-script(src='plugins/sweetalert2/sweetalert2.all.min.js')
		block js
		script(src=url+'js/index.js?v=1')
